<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="AFK4 Operator App"
      Manufacturer="AFK4"
      Version="$(var.PackageVersion)"
      UpgradeCode="{5B345D78-17AE-4CC7-9FE7-7E5F4203FAF1}"
      Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of AFK4 Operator App is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WEBVIEW2_RUNTIME_HKLM_PV">
      <RegistrySearch
          Id="WebView2RuntimeHklmPv"
          Root="HKLM"
          Key="SOFTWARE\WOW6432Node\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}"
          Name="pv"
          Type="raw" />
    </Property>
    <Property Id="WEBVIEW2_RUNTIME_HKCU_PV">
      <RegistrySearch
          Id="WebView2RuntimeHkcuPv"
          Root="HKCU"
          Key="Software\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}"
          Name="pv"
          Type="raw" />
    </Property>
    <Launch
        Condition="Installed OR (WEBVIEW2_RUNTIME_HKLM_PV AND WEBVIEW2_RUNTIME_HKLM_PV &lt;&gt; &quot;0.0.0.0&quot;) OR (WEBVIEW2_RUNTIME_HKCU_PV AND WEBVIEW2_RUNTIME_HKCU_PV &lt;&gt; &quot;0.0.0.0&quot;)"
        Message="Microsoft Edge WebView2 Runtime is required. Install the Evergreen WebView2 Runtime, then run AFK4 Operator App setup again." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="AFK4RootFolder" Name="AFK4">
        <Directory Id="OperatorAppFolder" Name="Operator App" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="AFK4 Operator App" Level="1">
      <ComponentGroupRef Id="OperatorAppFiles" />
      <ComponentRef Id="OperatorAppAgentConfiguration" />
    </Feature>

    <ComponentGroup Id="OperatorAppFiles" Directory="OperatorAppFolder">
      <Files Include="$(var.OperatorAppPublishDir)\**" />
    </ComponentGroup>

    <Component Id="OperatorAppAgentConfiguration" Directory="OperatorAppFolder" Guid="{17688042-51F4-47C6-894C-E70A2CC2611F}">
      <RegistryValue
          Root="HKLM"
          Key="Software\AFK4\OperatorApp"
          Name="Installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      <Environment
          Id="OperatorAppVersionEnvironment"
          Name="Agent__OperatorAppVersion"
          Value="$(var.PackageVersion)"
          Action="set"
          Part="all"
          System="yes" />
    </Component>
  </Package>
</Wix>
